/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    background: linear-gradient(#87CEFA 0%, /* Sky */
                                #97DEFF 45%, /* Sky */
                                #478EBA 46%,
                                #00008B 70%, /* Darker ocean */
                                #00B4D8 75%, /* Shallow water */
                                #FFD700 85%, /* Lighter sand */
                                #F4A460 100%); /* Less orange sand */
    position: relative;
    overflow: hidden;
}

/* This is the sky shimmer. It moves from left to right. */
body::after {
    content: '';
    position: absolute;
    bottom: 55%; /* Position the sky shimmer */
    left: 0;
    width: 100%;
    height: 45%; /* Increase the height of the shimmer effect to increase the distance it moves */
    background: repeating-linear-gradient(90deg, rgba(0,180,216,0.1), rgba(255,215,0,0.1), rgba(0,180,216,0.1)); /* Transition from blue to sand to blue */
    background-size: 200% 50px; /* Adjust the size of the background to make the shimmer go from left to right */
    animation: shimmer 2s linear infinite; /* Increase the speed of the animation */
}

/* This is the second shimmer. It uses the shallow water and lighter sand colors and moves from up to down. */
body::before {
    content: '';
    position: absolute;
    bottom: 15%; /* Position the second shimmer effect at the shoreline */
    left: 0;
    width: 100%;
    height: 15%; /* Adjust the height of the second shimmer effect */
    background: repeating-linear-gradient(0deg, rgba(0,0,50,0.2), rgba(0,100,200,0.2), rgba(180,210,210,0.3), rgba(255,165,0,0.2)); /* Use a darker shade at the top, a slightly darker blue, a tealish white at the bottom, and a redder sand color */
    background-size: 50px 200%; /* Adjust the size of the background to make the second shimmer go from up to down */
    animation: shimmer2 2s linear infinite; /* Increase the speed of the animation */
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}

@keyframes shimmer2 {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 -100%;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
